*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    position: relative;
    background-color: #000;
    min-height: 100vh;
    font-family: sans-serif;
    font-weight: 900;    
}
.counter span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 10cm;
    opacity: 0;
    animation: count 1s linear forwards;
    animation-delay: calc(1s *var(--i));
}
@keyframes count{
    0%, 100%{
        opacity: 0;
    }
        
    50%{
        opacity: 1;}
}
section{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
h2{
    color: #add8e6;
    font-size: 5em;
    font-weight: 900;
    transform: scale(0);
    animation: animate 1s linear forwards;
    animation-delay: 10s;
}
@keyframes animate{
    0%{
        transform: scale(0);
    }
    90%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}